body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
    max-width: 100%;
    overflow-x: hidden;
}

.title_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 12vh;

    width: 100%;
    align-items: center;
    position: fixed;
    top: 120px;
    background-color: white;
    z-index: 10;
}

.title {
    grid-column: 1/2;
    grid-row: 1/2;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    color: black;
    margin-left: 25px;
}

.albuns_container {
    display: grid;
    grid-template-columns: 25% 10px 25% 10px 25% 10px 25%;
    grid-template-rows: auto 4vh 4vh 4vh;
    top: 200px;
    position: static;
    z-index: 20;
}

.album_img {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #404040;
}

.album_title {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 0.7em;
}

.album_artist {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 0.7em;
}

.album_price {
    grid-row: 4/5;
    grid-column: 1/2;
    font-size: 0.7em;
}