body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
    max-width: 100%;
    overflow-x: hidden;
}


.msg_popup {
    width: 80%;
    height: 75%;

    background-color: white;
    border: 3px solid #B10605;

    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

    /*display: grid;
    grid-template-columns: 45% auto 45%;
    grid-template-rows: 10% auto;*/
}

.msg_title {
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: black;
    margin-left: 20px;
}

#message {
    font-family: 'Merriweather', serif;
    font-weight: normal;
    height: 250px;
    width: 400px;
    border-bottom: 2px solid #B10605;
    border-left: 2px solid #B10605;
    border-right: 2px solid #B10605;
    border-top: none;

    margin-left: 20px;

    resize: none;
}

button[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: #B10605;

    background-color: white;
    border: none;

    position: fixed;
}

button:hover {
    color: #404040;
}

.back {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #404040;
}
