body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
    max-width: 100%;
    overflow-x: hidden;
}

.container_landing {
    display: grid;
    grid-template-columns: 100px 160px auto auto auto auto auto auto auto auto auto 20px;
    grid-column-gap: 10px;
    grid-template-rows: 15vh 5vh 15vh 5vh 15vh 5vh 15vh;
    grid-auto-rows: 70px;
    padding-top: 20px;
    position: relative;
    /*z-index: -1;*/
    /*top: 100px;*/

}

.container_back {
    display: grid;
    grid-template-columns: 100px 160px auto auto auto auto auto auto auto auto auto 20px;
    grid-column-gap: 10px;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    grid-auto-rows: 70px;
    padding-top: 20px;
    width:100%;
    position: fixed;
    z-index: -2;
    top: 100px;
}

.fixed_back {
    grid-column: 2/12;
    grid-row: 1/5;
    background-color: #B10605;
}

.vinyl_3 {
    width: 60%;
    height: auto;
    grid-column: 1/13;
    grid-row: 1/5;
    justify-self: end;
}

a:link{
    text-decoration: none;
    color: #B10605;
}

a:visited {
    color: black;
}

.cat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5em;
    margin-left: 50px;
    padding-top: 20px;
}

.cat:link {
    color: black;
}

.cat:hover {
    color: #5E5E5E;
    cursor: pointer;
}

.cat:visited {
    color: black;
}

.sub_cat {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;

    padding-top: 15px;
    margin-left: 50px;
}

.new_rel {
    grid-column: 1/9;
    grid-row: 1/2;
}

.sub_new_rel {
    grid-column: 1/9;
    grid-row: 2/3;
}

.most_wan {
    grid-column: 1/9;
    grid-row: 3/4;
}

.sub_most_wan {
    grid-column: 1/9;
    grid-row: 4/5;
}

.surprise {
    grid-column: 1/9;
    grid-row: 5/6;
}

.sub_surprise {
    grid-column: 1/9;
    grid-row: 6/7;
}

.genres {
    grid-column: 1/9;
    grid-row: 7/8;
}

.sub_genres {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.5em;

    grid-column: 2/9;
    padding-top: 20px;
    padding-left: 20px;
}

.sub_genres:hover {
    color: whitesmoke;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 200px auto 150px 150px 150px;
    grid-template-rows: 80px;
    width: 100%;

    align-items: center;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 10px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    color: #B10605;
}

.user {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #B10605;
}

.mybox {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #B10605;
}

.box {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    padding-left: 10px;
}

.logout {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: end;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #B10605;
    padding-right: 15px;
}

.logout:link {
    color: #B10605;
}

.logout:hover {
    color: #404040;
}

.logout:visited {
    color: #B10605;
}

.menu_admin:hover{
    color: #404040;
    cursor: pointer;
}

.mymenu{
    visibility: hidden;
    position: relative;
    z-index: 5;
    width: 25%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 8vh 8vh;

    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #B10605;
    border-top: 3px solid #B10605;
    background-color: white;
    margin-left: 75%
}

.add_album {
    grid-row: 1/2;
    text-align: center;
    justify-self: center;
    border-bottom: 1px solid #B10605;
}

.view_stats {
    grid-row: 2/3;
    text-align: center;
    justify-self: center;
    border-bottom: 1px solid #B10605;
}

.send_message {
    grid-row: 3/4;
    text-align: center;
    justify-self: center;
    border-bottom: 1px solid #B10605;
}

.my_menu_item:hover {
    color: #404040;
    cursor: pointer;
}

